/* menu Links */



.navbar__menu-link {
  font-size: 1.2rem;
  font-weight: 600;
}
[data-theme="light"] .navbar__menu-link {
  color: var(--text-color);
}

[data-theme="dark"] .navbar__menu-link {
  color: var(--text-color);
}

[data-theme="light"] .navbar__menu-link:hover {
  color: var(--primary-color);
}

[data-theme="dark"] .navbar__menu-link:hover {
  color: var(--primary-color);
}

/* links sociais */

.navbar__menu-link--primary .fa-facebook {
  border-radius: 8px;
  padding: 3px;
  background-color: white;
  color: #1877f2;
}
.navbar__menu-link--primary .fa-facebook:hover {
  background-color: #145dbf;
  color: var(--primary-color);
}

.navbar__menu-link--primary .fa-instagram {
  border-radius: 8px;
  padding: 3px;
  color: #1877f2;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.navbar__menu-link--primary .fa-instagram:hover {
  filter: brightness(1.1);
}


.navbar__theme .icon-sun:hover {
  fill: #f59e0b;
}

.navbar__theme .icon-moon:hover {
  fill: #6b7280;
}

.hidden{
  display: none;
}

.navbar__theme button {
  padding: 0.5rem 1rem;
  background: none;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}

.navbar__theme .light-text,
.navbar__theme .dark-text {
  display: none;
}

[data-theme="light"] .light-text {
  display: inline;
}

[data-theme="dark"] .dark-text {
  display: inline;
}

/* a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
main{
  padding-top: 4rem;
} */

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.navbar__container {

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo img {
  width: 112px;
  height: 36px;
}
.navbar__menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}
.navbar__menu-link:hover {
  color: var(--primary-color);
}

.navbar__menu-link--primary {
 color: white;}

.navbar__menu-link--primary:hover {
  color:var(--primary-color);
}


/* Abri menu */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
}

.menu-toggle:hover{
  color: var(--primary-color);
}
.navbar__menu{
  display: block;
}

 #toggleDesktop{
border: none;
background-color: transparent;
 
}


#toggle-mobile{
display: none;
border: none;
background-color: transparent;
 
}
#side-menu{
  display: none;
}


#side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%; /* ou 100% se quiser ocupar toda a tela */
  height: 100vh;
  border-right: 1px solid var(--bg-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999; /* acima dos outros elementos */
  background-color: var(--secondary-color);

}


#side-menu.open {
  transform: translateX(0);
}

@media (max-width: 768px) {
.navbar{
  padding: 2rem 2rem;
}

  #menu-toggle {
    display: block;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__theme{
    display: none;
  }
#side-menu{
  width: 85%;
padding: 1rem 1rem;
  display: block;


}
.flex{

align-items: flex-start;
justify-content: space-between;
 display: flex ;
 padding: 1rem 0rem;


}
.navbar__menu-list {

 gap: 1rem;
 align-items: start;
  flex-direction: column;
}


#toggle-mobile{
display: block;


 }}


 @media (max-width: 430px) {
.navbar__menu-link{
  font-size: 1.2rem;
}

.navbar{
padding:  1.5rem 0.5rem ;



 }}