:root {
  --bg-color: white;
  --text-color: black;
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
}

[data-theme="dark"] {
  --bg-color: #272d35;           /* fundo bem escuro */
  --text-color: #f5f5f5;         /* texto claro e suave */
  --primary-color: #08c0dd;      /* mantém o azul como destaque */
  --secondary-color: #1e1e2e;    /* um cinza azulado escuro */
  --tertiary-color: #2b2b3d;     /* apoio com contraste suave */
}



[data-theme="dark"] {
  --text-color: #eaeaea;
}

[data-theme="light"] body {
  background: var(--secondary-color);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}

