:root {
  --light-bg: #262431;
  --text-color: white;
  --primary-color: #08c0dd;
  --secondary-color: #2f2c3d;
}

[data-theme="dark"] {
  --dark-bg: #272d35; /* fundo bem escuro */
  --dark-text: #f5f5f5; /* texto claro e suave */
  --primary-color: #08c0dd; /* mantém o azul como destaque */
  --secondary-color: #1e1e2e; /* um cinza azulado escuro */

}
